html {
  background-color: #DEFBFC;
}
.App {
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 2%;
}

/* Form */

label {
  display: inline-block;
  width: 300px;
  font-size: 20px;
  margin: 1%;
}​

input {
  font-size: 20px;
}

button {
  width: 100px;
}

form {
  padding: 2%;
  font-size: 30px;
}

/* NavBar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#7EF7FF;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Message */

.message {
  color: red
}

/* Header */

.header {
  font-size: 30px;
  text-align: center;
}

/* Home Page */

.posts {
  width: 50%;
  margin: auto;
  padding: 2%;
}

.date, .author {
  display: inline-block;
  width: 50%;
  margin: auto;
}

.content {
  text-align: justify;
  text-indent: 50px;
}