html {
  scroll-behavior: smooth;
 }

 body {
   background-color: lightblue;
 }

/* NavBar */

#nav-toggle {
  color: white !important;
}

#nav-toggle:hover {
  color: lightcoral !important;
}

#dropdown{
  color: white;
}

#navbar {
  color: white;
  background-color: black !important;
}

#item {
  color: white;
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding: 5px;
  /* width: 80px; */
}

#item.active {
  border-bottom: 6px solid lightcoral;
  background-color:hsla(290,60%,70%,0.3);
  color: lightcoral;
}

#item:hover {
  color: skyblue;
  border-bottom: 6px solid white;
  background-color:hsla(120,0%,70%,0.3);
}

#dropdown {
  background-color: black;
}

#toggle {
  background-color: gray;
  color: black;
}

#link {
  color: white;
  text-decoration: none;
  /* width: 100px; */
  text-align: center;
}

#link:hover {
  color: skyblue;
}

#link.active {
  color: lightcoral;
}

#drop-item {
  background: transparent;
}

#brand {
  color: white;
}

/* Logo */

#logo:hover {
  background-color: transparent !important;
  filter: invert(20%) sepia(50%) saturate(3207%) hue-rotate(360deg) brightness(80%) contrast(200%);
}


/* Form */

label {
  width: 500px;
}​


.post_content {
  display: inline-block;
  width: 0px;
  margin: 1%;
}

.button {
  width: fit-content;
  margin: 0 50%;
}

#button {
  font-size: 13px;
  color: white;
  /* border-color: darkblue; */
  /* background-color: transparent; */
}

.loadingButton {
  color: white !important;
  background-color: black !important;
  /* font-size: 13px; */
  margin: 0 44.5% !important;
}

form {
  padding: 2%;
}

.edit {
  background-color: #E0F1F1;
}

/* Message */

.message {
  text-align: center;
  width: 50%;
  margin: auto;
}

/* Header */

.header {
  text-align: center;
  color: black;
}

/* Container */

.body {
  margin-top: 60px;
}

/* Login and Register */
.user {
  width: 70%;
  margin: auto;
}

/* Home Page */

.posts {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  overflow: hidden;
  white-space: pre-wrap;
}

.date, .author {
  display: inline-block;
  width: 50%;
  margin: auto;
  font-size: 15px;
}

#heart {
  color: red;
  margin-right: -10px;
}

.popUp {
  background-color: lightblue;
  margin-top: 1rem !important;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 97vh;
  overflow:scroll;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
}

.popPost {
  text-align: justify;
  overflow: hidden;
  white-space: pre-wrap;
  padding: 1rem;
}

.close {
  cursor: pointer;
  font-size:  2rem !important;
  text-align: center;
}

.close:hover {
  color: red;
}

span.footers {
  display: inline;
  margin-right: 10px;
}

#delete {
  float: right;
}


/* span {
  padding: 5px;
} */

span:focus {
  border: none;
  outline: none;
}

#card-header {
  background-color: #A8FAFF;
}

#card-body {
  background-color: #CCFBFE;
}

#card-footer {
  background-color: #DFFDFF;
  padding: 4px;
}

#rating {
  width: 40px;
  align-items: end;
}

.moreIcon {
  float: right !important;
  size: 2rem !important;
}

#pagination {
  margin: 20px;
}

#mapping {
  min-height: 760px;
}

#comments {
  padding: 10px;
  margin-bottom: 2px;
}


/* Profile */
#info {
  font-size: 15px;
  width: 60%;
  margin: auto;
}

#card {
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
  min-height: 15rem;
}

#message {
  margin-top: 1% !important; 
  margin: auto;
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
}

/* Loader */

.loading {
  margin: auto;
}


/* About */

#question {
  font-weight: bold;
  font-size: 20px;
}
