body {
  background-color: green;
}

/* NavBar */

/* #dropdown {
  color: white;
} */


#dropdown{
  color: white;
}

#navbar {
  color: white;
  /* background-color: black; */
}

/* #dropdown {
  background-color: skyblue;
} */

#item {
  color: white;
  text-align: center;
  /* width: 80px; */
}

#item:hover {
  background-color: #6A6767;
}

#brand {
  color: white;
}



/* Logo */

#logo:hover {
  background-color: transparent !important;
  filter: invert(20%) sepia(50%) saturate(3207%) hue-rotate(360deg) brightness(80%) contrast(200%);
}


/* Form */

label {
  width: 500px;
}​


.post_content {
  display: inline-block;
  width: 0px;
  margin: 1%;
}

.button {
  margin: 0 44.5%;
}

form {
  padding: 2%;
}


/* Message */

.message {
  text-align: center;
  width: 50%;
  margin: auto;
}

/* Header */

.header {
  text-align: center;
}


/* Home Page */

.posts {
  text-align: justify;
  text-indent: 50px;
  word-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
}

.date, .author {
  display: inline-block;
  width: 50%;
  margin: auto;
  font-size: 15px;
}


#delete {
  padding: 10%;
  font-size: 80%;
}

#heart {
  background-color: transparent;
  border-style: hidden;
  color: red;
  width: 90%;
  margin: auto;
  margin-top: 10%;
}

/* Profile */
#info {
  font-size: 15px;
}
