html, body {
  padding:0;
	margin:0;
}
.App {
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 2%;
}



/* Form */

label {
  width: 500px;
}​


.post_content {
  display: inline-block;
  width: 0px;
  margin: 1%;
}

.button {
  margin: 0 44.5%;
}

form {
  padding: 2%;
}


/* Message */

.message {
  text-align: center;
  width: 50%;
  margin: auto;
}

/* Header */

.header {
  font-size: 30px;
  text-align: center;
}

/* Logo */

#logo:hover {
  background-color: transparent !important;
  filter: invert(20%) sepia(50%) saturate(3207%) hue-rotate(360deg) brightness(80%) contrast(200%);
}

/* Home Page */

.posts {
  text-align: justify;
  text-indent: 50px;
  word-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
}

.date, .author {
  display: inline-block;
  width: 50%;
  margin: auto;
  font-size: 15px;
}


.delete {
  background-color: #FADBD8;
  color: black;
  padding: 1%;
  border-color: none;
}

.delete:hover {
  background-color: lightblue;
  color: black;
}

.delete_content {
  padding: 1%;
}


/* Footer */

footer {
  color: black;
}

.footer {
  flex: 1 0 auto;
}
